@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vs-dark-bg: #1e1e1e;
  --vs-dark-bg-sec: #2a2a2a;
  --vs-dark-bg-thr: #202020;
}

.dark-bg {
  background: var(--vs-dark-bg);
}

.dark-bg-sec {
  background: var(--vs-dark-bg-sec);
}

.dark-bg-normal {
  background: var(--vs-dark-bg-thr);
}
